<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List App</title>
    <script src="vendors/jquery.min.js" charset="utf-8" ></script>
    <script src="scripts/clientApp.js" charset="utf-8" ></script>
    <link rel="stylesheet" href="assets/sheetrock.css"></link>
  </head>
  <body>
    <div id="submission">
    <h2>To Do List</h2>
    <p>This app helps you keep track of your life. </p>
    <input type="text" id="taskIn" name="taskIn" placeholder="Input your task here"></input>
    <button id="subTask" name="subTask">Submit</button>
  </div>
  <div id="list">
  </div>
  </body>
</html>
